<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Swag Labs UI tests" parallel="false">
    <test name="Основные пользовательские сценарии">
        <classes>
            <class name="ru.swaglabs.tests.SwagLabsTest"/>
        </classes>
    </test>
</suite>